NODE_ENV=dev
CORS=localhost

# ON DOCKER mongo image
# DB_HOST=mongo

# For local 
DB_HOST=localhost

DB_PORT=27017
DB_FULL_URL=

# For connect to docker image from local 
# DB_PORT=55560

DB_NAME=blockchain
DB_USERNAME=
DB_PASSWORD=
PORT=3000